@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom font import */
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400;500;600;700&display=swap');

/* Apply Vazirmatn font to all elements */
* {
    font-family: 'Vazirmatn', sans-serif;
}
